/* create project page */



.create-project{
    display: flex;
    flex-direction: column;
}
.create-project-form{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}
.create-project form fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.create-project form .first-half{
    width: 40%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.create-project input,
.create-project select{
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid transparent;
}
.create-project .second-half{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
}
.new-list,
.new-task{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #232425;
    padding: 20px;
    border-radius: 5px;
}
.new-task-form,
.new-list-form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 75px;
    margin-top: 10px;
}
.create-project form .inputs{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.add-task-button,
.add-list-button{
    height: 50px;
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
}
.add-task-button img,
.add-list-button img{
    width: 75%;
    height: 75%;
}
.create-project .created-lists-container,
.create-project .created-tasks-container{
    overflow-y: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-body,
.list-body{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
    border: 1px solid rgba(211, 211, 211, 0.267);
    border-radius: 5px;
    height: 40px;
}
.task-body img,
.list-body img{
    margin-left: auto;
}

.create-project-button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #ff5733;
    color: white;
}


/* statuses */
.add-status-button{
    width: 40px;
    height: 40px;
}
.dark .icon{
    filter: invert(100%);
}
.new-status{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}
.new-status .status-input-group{
    display: flex;
    flex-direction: column;
}
.statuses-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}
.statuses-container .status-body{
    width: 90%;
    height: 50px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.151);
    border-radius: 5px;
}
.statuses-container .status-body .status-color{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 25px;
}
.statuses-container .status-body .delete-status-button{
    margin-left: auto;
    width: 40px;
    height: 40px;
}


